.set{
    font-size: 16px;
    box-sizing: border-box;

    .channelList{
        height: 30vh;
        width: 100%;
        padding-left: 10px;
        box-sizing: border-box;     

        .textChat{
            display: flex;
            justify-content: space-between;
        }
    }
    .userList{
        height: 50vh;
        width: 100%;
        margin-left:10px;
    }
    .informPanel{
        height: 20vh;
        width: 100%;
    }
}